{:min-bb-version "1.12.210"
 :paths ["bb"]
 :tasks
 {:init (defn banner
         [message]
         (let [stars (clojure.string/join (repeat 70 "*"))
               padding-len (- 70 (count message) 5)
               spaces (clojure.string/join (repeat padding-len " "))]
          (println stars)
          (println "*" message spaces "*")
          (println stars)))
  test-jvm {:doc "Runs tests in JVM"
            :task (do
                   (banner "Running JVM Tests")
                   (shell "lein test"))}
  test-bb {:doc "Runs tests in Babashka"
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :extra-paths ["test"]
           :task (do
                  (banner "Running Babashka Tests")
                  (exec 'cognitect.test-runner.api/test))
           :exec-args {:patterns [".*"]}}
  test-cljs {:doc "Runs tests in ClojureScript"
             :task (do
                    (banner "Running CLJS Tests")
                    (shell "npx shadow-cljs compile test"))}
  test-cljr {:doc "Runs test in ClojureCLR"
             :task (do
                     (banner "Running CLJR Tests")
                     (shell "cljr -X:test"))}
  test-lpy {:doc  "Run tests in Basilisp"
            :task (do
                   (banner "Running Basilisp Tests")
                   (shell
                    {:extra-env {"BASILISP_TEST_PATH"         "./test"
                                 "BASILISP_TEST_FILE_PATTERN" ".*\\.(lpy|cljc)"}}
                    "basilisp test -p test -- -n 0"))}
  test-phel {:doc "Runs tests in Phel"
             :task (do
                    (banner "Running Phel Tests")
                    (shell "composer test"))}
  test-all {:doc "Run tests under all dialects"
            :task (do
                   (run 'test-jvm)
                   (run 'test-cljs)
                   (run 'test-cljr)
                   (run 'test-bb)
                   (run 'test-lpy)
                   (run 'test-phel))}
  test {:doc "Runs tests in multiple named dialects: jvm, bb, cljs, lpy, or phel"
        :task (letfn [(help []
                       (println "Usage: bb test <dialect1> [<dialect2>]...")
                       (println "Where <dialect> is one of:")
                       (println "  jvm     Runs tests in Clojure JVM")
                       (println "  cljs    Runs tests in ClojureScript")
                       (println "  cljr    Runs tests in ClojureCLR")
                       (println "  bb      Runs tests in Babashka")
                       (println "  lpy     Runs tests in Basilisp")
                       (println "  phel    Runs tests in Phel")
                       (println "  all     Runs tests in all supported dialects")
                       (println "Tests are run in the order given."))]
               (let [valid #{"jvm" "cljs" "cljr" "bb" "lpy" "phel" "all"}
                     unknown (remove valid *command-line-args*)]
                (cond
                 (not (some? (seq *command-line-args*)))
                 (do
                  (help))

                 (some? (seq unknown))
                 (do
                  (println "Unknown dialect name(s):" (clojure.string/join ", " unknown))
                  (help))

                 (some? (seq (some #{"all"} *command-line-args*)))
                 (run 'test-all)

                 :else
                 (doseq [dialect (seq *command-line-args*)]
                  (case dialect
                   "jvm" (run 'test-jvm)
                   "cljs" (run 'test-cljs)
                   "cljr" (run 'test-cljr)
                   "bb" (run 'test-bb)
                   "lpy" (run 'test-lpy)
                   "phel" (run 'test-phel))))))}
  new-test {:doc "Creates new test for the Clojure symbols named by <args>. Unqualified symbols assume clojure.core"
            :requires ([new-test])
            :task (new-test/new-test *command-line-args*)}}}
